.dropdown-wrapper {
  position: relative;
}

.dropdown-btn {
  position: relative;
  background: #f3f9fb;
  font-size: 10px;
  width: 6.5vw;
  height: 4vh;
  border: 1px solid;
  border-color: lightgray;
  color: #8e96a1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.dropdown-content {
  list-style: none;
  position: absolute;

  z-index: 10000;
  top: 100%;
  right: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.dropdown-content.open {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-content li {
  background: #2f3238;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-top: 0.2em;
  cursor: pointer;
}

.dropdown-content li:hover {
  background: #1d1f24;
}
